{% extends "base.html" %}

{% block title %}
    <title>Profile Page</title>
{% endblock %}

{% block content %}
      <div class="container">
        <div class="jumbotron">
            <h1>Welcome to {{name}} Profile page</h1>
        </div>
      </div>
      <div class="container">
        <div class="jumbotron">
            <p>My self HRUSHIKESH CHIKKERUR, I am Quick learner,Eager to learn new technologies and 
              methodologies,Willing to innovate the new things which can improve the existing 
              technologies and having a good communication skill.</p>
            <p>Now I have learnt new programming language "PYTHON" and Web technologies like 
              "HTML5,CSS,JAVASCRIPT,BOOTSTRAP" and also database query language "MYSQL", which 
              helps to improve my knowledge on some of the existing technologies.</p>  
        </div>
      </div>
{% endblock %}